// variables

$color-primary: darkkhaki;
$color-secondary: rgb(139, 149, 160);
$color-tertiary: rgb(162, 169, 177);
$color-dark: hsl(232, 93%, 24%);
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-secondary-transparent: rgba( 47, 97, 97, 0.5);
$doc-font: 'Quicksand', sans-serif;


// all

header {
    font-family: $doc-font;
    h1 {
        font-size: 80px;
    }
}

body {
    font-family: $doc-font;
    background-color: rgb(238, 238, 238);
}

a, a:hover {
    color: inherit;
    text-decoration: none;
  }

.site-footer{
    background-color: $color-secondary;
    padding: 35px;
    color: white;
}

// placeholders to italic 

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

// jumbotron

.jumbotron {
    padding: 15px;
    background-color: $color-primary;
    color: white;
    margin: 0;
}


// nav-bar

.navbar {
    background-color: $color-secondary;

    a:hover {
        background-color: rgb(178, 191, 204);
    }
}

// breadcrumbs
.breadcrumb{
    background-color: $color-primary;
    color: white;
    border-right: solid 2px $color-secondary-transparent;
    border-left: solid 2px $color-secondary-transparent;
    border-bottom: solid 2px $color-secondary-transparent;

    .active {
        color: rgba(255, 255, 255, 0.705);
    }
}

// home-carousel

.carousel-caption {
    background-color: $color-black-transparent;
}

#carouselContainer{
    padding: 0;
}

#carouselButton {
    border-radius: 10px;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom:0;
    z-index:100;
}

// login modal
#loginModal {

    .modal-content{
        margin: auto;
        padding: 50px;
    }
    
    .tab-content {
        border: 1px solid #DDD;
        border-top: none;
        padding: 10px;
    }

}

// index.cards

.index-card {
    border-radius: 9px;
    img {
        border-radius: 9px;
    }
}

.index-cardTitle{
    text-align: center;
    padding: 10px;
    background-color: $color-black-transparent;
    border-radius: 10px;
}


// registration.html


#regHeader{
    background-color: $color-black-transparent;
    border-radius: 15px;
    margin: auto; 
    padding: 20px;
    color: white;
}


#regForm{
    background-color: $color-black-transparent;
    border-radius: 15px;
    margin: auto; 
    padding: 50px;
    color: white;
}

#regSubmit{
    position: relative;
    margin: auto;
    padding-left: 2px;
}

// about.html

#aboutSTAG{
    border: solid 10px $color-primary;
    padding: 0;
    border-radius: 50%;

}

#aboutDev{
    border: solid 10px $color-primary;
    padding: 0;
    border-radius: 50%;
}

// contact.html

#contactForm{
    background-color: $color-black-transparent;
    border-radius: 15px;
    margin: auto; 
    padding: 20px;
    color: white;
}

#contactHeader{
    background-color: $color-black-transparent;
    border-radius: 15px;
    margin: auto; 
    padding: 20px;
    color: white;
}

// services.html

.servicesCard{
    border-radius: 8px;

    .card-body {
        background-color: $color-tertiary;
        border-radius: 8px;
        color: black;
    }
}