$color-primary: slategray;
$color-secondary: darkslategray;
$color-dark: hsl(232, 93%, 24%);
$doc-font: 'Kufam', cursive;

header {
    font-family: $doc-font;
}

.jumbotron {
    padding: 15px;
    background-color: slategray;
    color: white;
    margin: 0;
}

.navbar {
    background-color: $color-secondary;
}